{{ $currentPage := . -}}
{{ range .Site.Menus.docs -}}
  {{ if ne .Name ""}}
    <h3>{{ .Name }}</h3>
  {{ else }}
    <h4>{{ .Name }}</h4>
  {{end}}
  {{ if .HasChildren -}}
  <ul class="list-unstyled">
    {{ range .Children -}}
      {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
      {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
      <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{ end -}}
  </ul>
  {{ end -}}
{{ end -}}