{{ define "main" }}
<section class="section mt-n5 pt-5 pb-3">
  <div class="row justify-content-center banner-container">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center mb-3">
      <p class="lead mt-n2">{{ .Params.lead | safeHTML }}</p>
      <a class="btn banner-button btn-lg px-4 mt-2 mb-4" href="dist/atlas-min.js" role="button" download>Download version {{ .Site.Data.doks.version }}</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row w-75 justify-content-center text-left mx-auto mt-3 mb-3">
        <p>Atlas.js is a procedural data visualization framework.
          Inspired by graphic design tools such as Figma and Adobe XD,
          Atlas describes data visualization creation as a process of manipulating graphical objects with data. Atlas provides high-level abstractions for creating and transforming visualization components, 
          and still gives you complete control over the generative process and component states.</p>
    </div>
    <div class="row w-50 justify-content-center mx-auto">
      <video width="100%" controls muted autoplay loop>
        <source src="https://atlas-vis.github.io/homepage.mov" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="row justify-content-center text-center mt-3">
      <div class="col-lg-5">
        <h2 class="h4">Graphics-Centric</h2>
        <p>Graphical objects are first-class citizens. Think in terms of their properties, transformations, layouts and constraints.</p>
        <!-- <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p> -->
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Procedural Syntax</h2>
        <p>Apply a series of operations to generate a visualization. Ability to inspect the visualization components after any step.</p>
        <!-- <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=7731347bb8ce999eff7428a8e763b637">Google Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p> -->
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Flexible Rendering</h2>
        <p>Visualization logic decoupled from rendering. Choose your preferred renderer: SVG or WebGL.</p>
        <!-- <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings to your liking.</p> -->
      </div>
    </div>
    <!-- <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div> -->
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
